* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #632626;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.imagen_container {
  display: flex;
  width: 280px;
  height: 280px;
}
.imagen {
  width: 280px;
  height: 280px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.row-gallery-container {
  display: flex;
  justify-content: space-around;
}
.product {
  display: flex;
  flex-direction: column;
  background-color: #dacc96;
  border-radius: 10px;
}
.body {
  padding-left: 10px;
  display: flex;
  gap: 10px;
  font-size: 18px;
  padding-left: 10px;
}
.btn-success {
  width: 120px;

  margin: 0px 0px 10px 10px;
}

.price {
  display: flex;
  font-weight: bold;
}
.collapsed {
  background-color: #c8b88a;
  font-size: 17px;
  color: rgb(85, 84, 84);
  font-weight: bold;
  letter-spacing: 1px;
}
.accordion-body {
  background-color: #e2d5ac;
}
.accordion-body a {
  text-decoration: none;
  font-size: 16;
  color: rgb(85, 84, 84);
  border-bottom: 1px solid #c8b88a;
  padding-top: 10px;
}
.off-canvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  position: relative;
}
.total {
  justify-self: flex-end;
}

.product_table {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.cart_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.cart_total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  width: 80%;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
}
#nav {
  color: white;
}
