@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #0055ff;
  font-family: "Merryweather", sans-serif;
  width: 100vw;
}
/*header*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Merryweather", sans-serif;
}
.titulo {
  display: flex;
  font-size: 44px;
  letter-spacing: 2.2px;
  margin-left: -50px;
  text-decoration: none;
  color: white;
}
.menu {
  display: flex;
  gap: 30px;
}
.enlace {
  display: flex;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.822);
  font-size: 30px;
}
.enlace:hover {
  color: white;
}
/*main*/
.container {
  display: flex;
  justify-content: center;
}
.article_container {
  display: flex;
  width: 49vw;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
}
.main_title {
  font-size: 80px;
}
.main_subtitle {
  font-size: 30px;
}
/*form*/
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  font-size: 30px;
  width: 900px;
  border: hidden;
  border-bottom: 2px solid white;
  background-color: #0055ff;
  color: white;
}
.input:focus {
  outline: none;
}
::placeholder {
  color: white;
}
.boton {
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-color: blue;
  padding: 10px;
  width: 900px;
  text-align: center;
}
.image {
  display: flex;
  max-width: 400px;
  max-height: 700px;
  overflow: hidden;
}
.side_image {
  display: flex;
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  height: 20vh;
  width: 100vw;
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding-left: 40px;
  gap: 50px;
  background-color: black;
  margin-top: 60px;
}
.footer_menu {
  display: flex;
  gap: 15px;
}
.enlace_footer {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.822);
  font-size: 30px;
}
.enlace_footer:hover {
  color: white;
}
